body{
    margin:0px;
    position: relative;
    background-color:rgb(211, 221, 255);
    color:black;
  }
  a {
    background-color: rgb(211, 221, 255);
    color:black;
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
  }

  div h1 {
    font-size:45px;
    text-align: center;
    margin:0;
    padding:20px;
    font-family:'Times New Roman', Times, serif;
  }
  h5{
    font-size:15px;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
  }
  nav{
    background-color: white;
    border: 1px solid black;
    /* border-top: 2px soild black;
    border-bottom: 2px soild black; */
  }
  ol{
    list-style: none;
    text-align: center;
  }
  ol li{
    position: relative;
    font-size: 20px;
    padding: 10px 10px;
    letter-spacing: 5px;
    display: inline;
  }
  ol li a{
    background-color: white;
  }
  #article{
    padding: 10px;
    border: 1px solid black;
    text-align: center;
    border-image: 1px solid black;
  }
  form{
    font-family: 'Courier New', Courier, monospace;
  }
  input[type=text],[type=password]{
    border-radius: 30px;
    padding: 3px 3px;
    width:200px;
    text-align: center;
  }
  input[type=submit]{
    border-radius: 30px;
    padding: 3px 3px;
    border:black;
    background-color: black;
    color:white;
    width: 200px;
  }
  input[type=button]{
    padding: 0px 20px;
    border:none;
    color: #030304;
  }
  footer{
    padding: 10px;
    border: 1px solid black;
    height: 30%;
    padding-bottom: 180px;
    text-align: center;
    background-color: black;
    color: white;
  }
  #quiz{
    margin:0px;
    padding: 5px;
    border: 1px solid black;
  }
  #quiz h4{
    padding:0px;
    margin:0px;
    font-size: 25px;
  }
  #quiz ol{
    padding:5px;
    margin:5px;
  }
  #quiz ol li{
    font-size: 15px;
    letter-spacing: 1px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  #quiz ol [type=text]{
    padding: 0px;
    margin: 5px;

  }
  #quiz ol [type=button]{
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 5px 5px;
    text-align: center;
    font-size: 5px;
  }
  #time{
    background-color: black;
    color:white;
    text-align: center;
    height: 20%;
    /* padding: 0px;
    margin:0px; */
    /* border-bottom: 1px solid black; */
  }
  #time h5{
    padding:0px;
    margin:0px;
    font-family: 'Times New Roman', Times, serif;
  }
  /* span #changecolor[type=button]{
    text-align: center;
    position: relative;
    margin-left: 30px;
    margin-right: 30px;
  } */